*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 15%;
}
button {
    width: 100px;
    height: 40px;
    border: outset;
    border-radius: 20px;
    border: inset;
    cursor: pointer;
}
button:hover{
    background-color: rgb(212, 0, 255);
}